body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50%;
    height: 100vh;
}

.direita {
    background-color: #0689e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

img {
    width: 510px;
    height: 285px;
}

h1 {
    font-size: 36pt;
    color: white;
}

p {
    color: white;
    padding: 0 90px;
    font-size: 14pt;
    line-height: 24px;
    width: 466px;
}

.box {
    background-color: white;
    height: 446px;
    width: 476px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

input {
    padding: 14px 0;
    margin: 12px 0;
    border-radius: 4px;
    padding-left: 8px;
    border-color: rgba(143, 137, 137, 0.832);
}

.h1NovaConta {
    color: #000000;
    margin-bottom: 25px;
}

input[type="checkbox"] {
    margin-right: 4px;
    border-color: #000000;
}

input[type="button"] {
    background-color: #0689e7;
    color: white;
    font-weight: 600;
    border: none;
}

.login-cadastro {
    color: #000000;
    padding-left: 0;
}

form {
    font-weight: 600;
}

a {
    text-decoration: none;
}

input::placeholder {
    font-weight: 540;
}